/* Master Styles */
body {
    margin: 0px; /* default margin is 8 pixels, therefore we must override it */
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    display: grid; /* creates grid */
    grid-template-columns: 1fr; /* grid is 1 fractional unit, going from end to end of page */
}

/* Nav Styles */
.nav-wrapper{
    display: flex; /* takes the divs and places them horizontally instead of vertically */
    justify-content: space-between; /* separates the divs */
    padding: 60px; /* adds 60 pixels to the sides of the page and the text/links */
}

.right-side{
    display: flex; /* takes the divs and places them horizontally instead of vertically */
}

.nav-wrapper > .right-side > div { /* order of operations, taking the divs from right side from nav wrapper */
    margin-top: 5px; /* add 12 pixels above the links */
    margin-left: 12px; /* add 20 pixels between the two links */
    margin-right: 2px;
    font-size: 0.9em; /* default font is 1 em, therefore we take 0.9 or 90% of 1 */
    text-transform: uppercase; /* makes the text all caps */
}

.nav-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent; /* creates 1 pixel line under the link */
    transition: border-bottom 0.5s; /* transition lasts 0.5 seconds */
}

.nav-link-wrapper a {
    color: #8a8a8a; /* gives the link a color */
    text-decoration: none; /* removes the link underline */
    transition: color 0.5s; /* color transition lasts 0.5 seconds */
}

.nav-link-wrapper:hover { /* when mouse hovers over it */
    border-bottom: 1px solid #868686; /* makes the line gray */
}

.nav-link-wrapper a:hover { /* when mouse hovers over it */
    color: black /* makes the hover black */
}

.left-side{
    font-size: 1.8em; /* default font is 1 em, therefore we take 1.8 or 180% of 1 */
    text-transform: uppercase; /* makes the text all caps */
}

.active-nav-link{
    border-bottom: 1px solid #868686 !important;
}

.active-nav-link a{
    color: black !important;
}

/* Portfolio Styles */
.line{
    border-top: 1.5px solid #e0e0e0; 
    padding-top: 40px;
    margin-left: 60px; 
    margin-right: 60px; 
    padding-bottom: 10px;
}

.blog-posts{
    font-size: 1.65em; /* default font is 1 em, therefore we take 1.4 or 140% of 1 */
    text-transform: uppercase; /* makes the text all caps */
    text-align: center; 
    padding-bottom: 43px; 
}

.portfolio-items-wrapper{
    padding-left: 58px; 
    padding-right: 58px;
}

.portfolio-item-wrapper{
    position: relative; /* items reacts with each other */ 
}

.portfolio-img-background{
    height: 420px;
    width: 100%;
    background-size: cover; /* crops images to same size*/
    background-position: center; 
    background-repeat: no-repeat; 
    filter: brightness(70%);
}

.portfolio-img-background-darker{
    height: 420px;
    width: 100%;
    background-size: cover; /* crops images to same size*/
    background-position: center; 
    background-repeat: no-repeat; 
    filter: brightness(60%);
}

.img-text-wrapper{ 
    color: transparent;
    position: absolute; 
    top: 0; /* wrapper positioned at very top */
    display: flex; /* wrapper itself using flexbox */ 
    flex-direction: column;
    height: 100%; 
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.title a {  
    color: white;
    text-decoration: none; /* removes the link underline */
    font-size: 1.5em; /* default font is 1 em, therefore we take 1.4 or 140% of 1 */
    text-transform: uppercase; /* makes the text all caps */
    border-bottom: 1px solid transparent; /* creates 1 pixel line under the link */
}

.title a:hover {
    border-bottom: 1px solid white; /* creates 1 pixel line under the link */
    transition: 0.2s;
    padding-bottom: 2px;
}

.img-text-wrapper .subtitle{
    padding-top: 10px;
    font-size: 1em;
    transition: 0.5s; 
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper:hover .subtitle{
    color: white;
    font-size: 1em; 
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .date{
    transition: 0.5s; 
    font-size: 0.9em;
    padding-bottom: 3px;
}

.img-text-wrapper:hover .date{
    color: white;
    font-size: 0.9em; 
    padding-bottom: 3px;
}

.divider{
    padding-top: 40px;
}

.img-darken{ /* js can actively use/remove this class to perform animation */
    transition: 0.5s;
    filter: brightness(30%);
}

.img-darken-darker{ /* js can actively use/remove this class to perform animation */
    transition: 0.5s;
    filter: brightness(20%);
}

.date {
    font-size: 0.9em; 
    text-transform: uppercase;
    text-align: center;
}

.titles{
    font-size: 1.65em; /* default font is 1 em, therefore we take 1.4 or 140% of 1 */
    text-transform: uppercase; /* makes the text all caps */
    text-align: center; 
    padding-bottom: 10px;
}

/* Blog Posts */
.post{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-paragraphs{
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    text-align-last: left;
    line-height: 140%; 
}

.line-right-side p{
    position: absolute;
    padding-top: 100px;
    padding-left: 200px;
    color: transparent;
    text-transform: uppercase;
    font-size: 1.3em;
    margin: 0;
    transition: 0.5s;
}

.line-right-side p:hover{
    position: absolute;
    padding-top: 100px;
    padding-left: 200px;
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    margin: 0;
}

.lineSculptureDescriptions:hover p{
    color: white;
}

.space-between{
    width: 550px;
}

.side-by-side{
    display: flex;
    align-items: center;
}

.side-by-side img{
    padding-top: 6px;
    height: auto;
    width: 470px;
}

.panels {
    display: flex;
}

.panel img{
    height: 200px;
    width: auto;
    background-size: cover; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Contact Page */
.contacts-wrapper{
    padding-top: 80px;
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contact-wrapper{
    text-align: center;
}

.contact-wrapper img{
    height: 100px;
    width: auto;
}

.contact-wrapper .logo-text-wrapper{
    font-size: 0.9em;
    padding-top: 10px;
    color: white;
}

.contact-wrapper:hover .logo-text-wrapper{
    color: #8a8a8a;
    transition: 1s; 
    font-size: 0.9em; 
    padding-top: 10px;
}

.contact-text{
    padding-top: 90px;
    font-size: 0.8em; 
    text-transform: uppercase;
    text-align: center;
}